* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*Ozadje z zvezdami*/
.background {
  width: 100%;
  height: 100%;
  background-color: #13182c;
  background-image: url(../images/stars.png);
  background-repeat: repeat-x, repeat-y;
  z-index: 0;
}

/*utripanje zvezd*/
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/twinkling.png);
  background-repeat: top center;
  z-index: 1;
  animation: utripaj 70000s linear infinite;
}

@keyframes utripaj {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -90000% 90000%;
  }
}

/*CANVAS*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 800px;
  margin-left: -300px;
  margin-top: -400px;
  z-index: 7;
  background: rgba(255, 255, 255, 0.2);
  border: 10px solid #000000;
}

/*STATS*/
.stats {
  position: absolute;
  width: 250px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}

.stats p {
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}

/*SWEET ALERT*/
.swal2-popup.swal2-toast {
  flex-direction: column !important;
  font-family: "Noto Sans", sans-serif;
}

.swal2-content {
  text-align: left;
}

.swal2-popup.swal2-toast div {
  margin: 10px;
}

.swal2-popup.swal2-toast button {
  margin: 10px;
  font-family: "Noto Sans", sans-serif;
}

/*VRSTICA Z INFORMACIJAMI*/
.info {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.3);
}

.info input[type="image"] {
  padding: 10px;
}

.info input[type="image"]:hover {
  background: rgba(255, 255, 255, 0.6);
}

.info input[type="image"]:focus {
  outline: none;
}
